{{form.token}}
<div *ngIf="form.token !== ''" class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <h5 class="text-center">Redefinir senha</h5>
        <input
          type="hidden"
          class="form-control"
          name="token"
          [(ngModel)]="form.token"
          #id="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="password">Nova senha</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.newpassword"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Senha é obrigatório</div>
          <div *ngIf="password.errors.minlength">
            Senha precisa de 6 ou mais caracteres
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label for="nivel">Nível</label>
        {{form.roles[0].name}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Confirmar</button>
      </div>
      
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Falha no envio!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Senha alterada com sucesso!
    </div>
  </div>
</div>
